@using Data
@using Web
@model Web.CustomersViewModel
@Html.HiddenFor(m => m.AjaxUpdate)
@Html.HiddenFor(m => m.Param)
@Html.HiddenFor(m => m.Action)
@Html.HiddenFor(m => m.DivToUpdate)
@Html.HiddenFor(m => m.Customer.Id)
@Html.HiddenFor(m => m.Customer.CreateDate)
@Html.HiddenFor(m => m.Customer.CreatedBy)
@Html.HiddenFor(m => m.Customer.CompanyId)

<div class="pagetitle">@Model.Customer.Name </div>
@{
     await Html.RenderPartialAsync("Sections/Tabs.cshtml");
}

    <div class="form-1000">
        <div id="CustomerDetails">
            @{
                await Html.RenderPartialAsync("Sections/CustomerDetails.cshtml");
            }
        </div>
        </div>
        <div id="CustomerNotes">
            @{
                await Html.RenderPartialAsync("Sections/Customer_Notes.cshtml");
            }
        </div>
      
    </div>

<script>
    //ValidateSaleCompany();
</script>