@using Data
@using Web
@model Web.StudentInterestVM

@Html.HiddenFor(m => m.AjaxUpdate)
@Html.HiddenFor(m => m.Param)
@Html.HiddenFor(m => m.Action)

@if (Model.ShowEditStudentInterest)
{
    @Html.HiddenFor(m => m.InterestSearch)

    <div class="pagetitle">Edit Student Interest</div>

    <div class="form-800 input-form">
        <div class="white-bg">
            @Html.HiddenFor(x => x.StudentInterest.Id)

            <table>
                <tr>
                    <td class="formlabel">Name:</td>
                </tr>
                <tr>
                    <td>@Html.EditorFor(x => x.StudentInterest.Name)</td>
                </tr>
                <tr>
                    <td class="formlabel">Copy:</td>
                </tr>
                <tr>
                    <td>@Html.TextAreaFor(x => x.StudentInterest.Copy)</td>
                </tr>
            </table>

            <div class="buttons">
                <button class="button" onclick="Ajax('Update')">Update</button>
                <button class="button" onclick="Ajax('Cancel')">Cancel</button>
            </div>
        </div>
    </div>
}
else
{
    <div class="pagetitle">Manage Student Interest</div>

    <div class="form-800">

        <!-- Search Filter -->
        <div class="mb-4 mt-3">
            <div class="white-bg p-3">
                <div class="card-body p-0">
                    <div class="row align-items-end g-2">
                        <!-- Search input -->
                        <div class="col-md-6">
                            <label for="InterestSearch" class="form-label">Interest:</label>
                            @Html.TextBoxFor(model => model.InterestSearch, new { @class = "form-control", placeholder = "Search by Interest", id = "InterestSearch" })

                        </div>

                        <div class="col-auto">
                            <!-- Buttons -->
                            <button class="button" onclick="Ajax('Search')">Search</button>
                            <button class="button" onclick="NonAjax('Clear Search')">Clear</button>
                            <button class="button" onclick="NonAjax('Create')">Create New Interest</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white-bg">
            <table class="tablestyle">
                <tr class="desktop roundheader">
                    <th>Name</th>
                    <th style="width:20%"> Manage</th>
                </tr>

                @if (Model.StudentInterests != null)
                {
                    foreach (var StudentInterest in Model.StudentInterests)
                    {
                        <tr class="mobileportrait-mobilewide">
                            <td>
                                <div><b class="secondary-text">Name:</b></div>
                                <div>@StudentInterest.Name</div>
                                <div class="buttons">
                                    <button class="gridbutton" onclick="AjaxWithParam('Show Update', @StudentInterest.Id)">Edit</button>
                                    <button class="gridbutton" onclick="NonAjaxWithParamAndConfirmation('Delete', @StudentInterest.Id, 'Are you sure you want to delete this Student Interest?')">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <tr class="desktop">
                            <td>@StudentInterest.Name</td>
                            <td>
                                <button class="gridbutton" onclick="AjaxWithParam('Show Update', @StudentInterest.Id)">Edit</button>
                                <button class="gridbutton" onclick="NonAjaxWithParamAndConfirmation('Delete', @StudentInterest.Id, 'Are you sure you want to delete this Student Interest?')">Delete</button>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
}

