@model Web.UserVM
@using Data
@using Web

@Html.HiddenFor(m => m.Action)
@Html.HiddenFor(m => m.RemoveId)
@Html.HiddenFor(m => m.AjaxUpdate)
@Html.HiddenFor(m => m.CompanyId)
@Html.HiddenFor(m => m.Company.Id)
@Html.HiddenFor(m => m.Param)
<div class="white-bg">
    @if (!Model.ShowExistingPhoneNumber)
    {
        <div class="sectionheader mt-0">Phone Number</div>
        <div class="input-form">
            <div class="buttons">
                <button class="button" onclick="Ajax('Connect to Existing PhoneNumber')">Connect To Existing PhoneNumber</button>
                <button class="button" onclick="Ajax('Show Add Phone Number')">Connect to Phone Number</button>
            </div>
        </div>
    }
    @if (Model.ShowAddPhoneNumber)
    {
        <div class="white-bg">
            <div class="sectionheader mt-0">Connect To Phone Number</div>
            <div style="display:flex;justify-content:center;">
                <table>
                    <tr>
                        <td>
                            <div class="formlabel">
                                Name :
                            </div>
                            <div>
                                @Html.EditorFor(m => m.ContactName)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="formlabel">
                                Phone Number :
                            </div>
                            <div>
                                @Html.EditorFor(m => m.PhoneNumber, new { htmlattributes = new { onkeyup = "formatphone('PhoneNumber')" } })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="button" onclick="Ajax('Connect to Phone Number')">Submit</button>
                            <button class="gridbutton" onclick="Ajax('Cancel Add other Account')">Cancel</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    @if (Model.ShowExistingPhoneNumber)
    {
        <div class="sectionheader mt-0">Connect To Existing PhoneNumber</div>
        <div class="buttons">
            <button class="button" onclick="Ajax('Go Back')">Go Back</button>
        </div>
    }
    @if (Model.CompanyPhoneNumbers.Any())
    {
     
        <div class="pt-3">
            <table class="tablestyle" style="width:100%">
                <tr class="desktop">
                    <th>
                        Name
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>


                </tr>

                @foreach (var CompanyPhoneNumber in Model.CompanyPhoneNumbers)
                {
                    <tr class="desktop">
                        <td>@CompanyPhoneNumber.Name</td>
                        <td>@CompanyPhoneNumber.PhoneNumber</td>
                        <td></td>
                        @if (CompanyPhoneNumber.IsDefault && !Model.ShowExistingPhoneNumber)
                        {
                            <td class="desktop">
                                <b>Default Email</b>

                                <button class="gridbutton ml-5 mr-1" onclick="NonAjaxWithParamAndConfirmation('Remove Phone Number',@CompanyPhoneNumber.Id,'Are you sure you want to delete this email account')">Remove</button>
                            </td>
                        }
                        else
                        {
                            <td class="desktop">
                                @if (!Model.ShowExistingPhoneNumber)
                                {
                                    <button class="gridbutton" onclick="NonAjaxWithParam('Set Default Phone Number',@CompanyPhoneNumber.Id)">Set as Default</button>
                                    <button class="gridbutton ml-3" onclick="NonAjaxWithParamAndConfirmation('Remove Phone Number',@CompanyPhoneNumber.Id,'Are you sure you want to delete this email account')">Remove</button>
                                }
                                else
                                {
                                    <button class="gridbutton" onclick="NonAjaxWithParam('Add Phone Number',@CompanyPhoneNumber.Id)">Add Account </button>
                                }
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="mobileportrait-mobilewide">
                            @if (CompanyPhoneNumber.IsDefault)
                            {
                                <div style="font-size:15px;"><b>Default PhoneNumber</b></div>
                            }
                            <div>
                                <b class="secondary-text pr-10">Name</b>
                                <div>@CompanyPhoneNumber.Name</div>
                            </div>
                            <div>
                                <b class="secondary-text pr-10">PhoneNumber: </b>
                                <div>@CompanyPhoneNumber.PhoneNumber</div>
                            </div>

                            <div class="buttons">
                                @if (!CompanyPhoneNumber.IsDefault)
                                {
                                    <button class="gridbutton" onclick="AjaxWithParam('Set Default Email',@CompanyPhoneNumber.Id)">Set as Default</button>
                                    <button class="gridbutton" onclick="AjaxWithParamAndConfirmation('Remove Email Account ',@CompanyPhoneNumber.Id,'Are you sure you want to delete this email account')">Remove</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>

    }


</div>

