@model Web.UserVM
@using Data
@using Web

@Html.HiddenFor(m => m.Action)
@Html.HiddenFor(m => m.RemoveId)
@Html.HiddenFor(m => m.AjaxUpdate)
@Html.HiddenFor(m => m.CompanyId)
@Html.HiddenFor(m => m.Company.Id)
@Html.HiddenFor(m => m.Param)
<div class="white-bg">
    @if (!Model.ShowExistingPhoneNumber)
    {
        <div class="sectionheader mt-0">Phone Number</div>
        <div class="input-form">
            <div class="buttons">
                <button class="button" onclick="Ajax('Connect to Existing PhoneNumber')">Connect To Existing PhoneNumber</button>
                <button class="button" onclick="Ajax('Show Add Phone Number')">Connect to Phone Number</button>
            </div>
        </div>
    }
    @if (Model.ShowAddPhoneNumber)
    {
        <div class="white-bg">
            <div class="sectionheader mt-0">Connect To Phone Number</div>
            <div style="display:flex;justify-content:center;">
                <table>
                    <tr>
                        <td>
                            <div class="formlabel">
                                Name :
                            </div>
                            <div>
                                @Html.EditorFor(m => m.ContactName)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="formlabel">
                                Phone Number :
                            </div>
                            <div>
                                @Html.EditorFor(m => m.PhoneNumber, new { htmlattributes = new { onkeyup = "formatphone('PhoneNumber')" } })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="button" onclick="Ajax('Connect to Phone Number')">Submit</button>
                            <button class="gridbutton" onclick="Ajax('Cancel Add other Account')">Cancel</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    @if (Model.ShowExistingPhoneNumber)
    {
        <div class="sectionheader mt-0">Connect To Existing PhoneNumber</div>
        <div class="buttons">
            <button class="button" onclick="Ajax('Go Back')">Go Back</button>
        </div>
    }

</div>

