@model ContactsVM
@using Web
@using Data
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@{
    Layout = "~/Pages/Shared/FrontEndLayout.cshtml";
}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    var isCaptchaValid = false;

    function onReCaptchaSuccess(token) {
        document.getElementById('Total').value = token;
        isCaptchaValid = true;
        checkForm();
    }
    function onReCaptchaError() {
        isCaptchaValid = false;
        checkForm();
    }
    function checkForm() {
        if (document.getElementById("SignupName").value.trim() !== '' &&
            document.getElementById("SignupEmail").value.trim() !== '' &&
            document.getElementById("SignupPhone").value.trim() !== '' &&
            document.getElementById("Company_Name").value.trim() !== '' &&
            isCaptchaValid) {


            document.getElementById('sendRequest').style.display = 'block';
        } else {

            document.getElementById('sendRequest').style.display = 'none';
        }
    }
    function submitForm() {
        if (!isCaptchaValid) {
            grecaptcha.execute();
        } else {
            document.getElementById('contactForm').submit();
        }
    }
    document.querySelectorAll('.form-control').forEach(function (element) {
        element.addEventListener('input', checkForm);
    });
    document.addEventListener('DOMContentLoaded', function () {
        checkForm();
    });
</script>
<main class="main">
    <div class="page-banner text-white" style="background-image: url(../FrontEnd/images/banner-inner.jpg);">
        <div class="container">
            <div class="page-title">
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">Built by Pro's, Trusted by Pro's</p>
                <h2 data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">Features That Matter</h2>
                <a href="" class="btn-primary" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">Start Free Trail</a>
            </div>
        </div>
    </div>
    <div class="sec-workflow-experience sec-gap" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
        <div class="container">
            <div class="row align-items-center mb-4 mb-lg-5 pb-lg-5">
                <div class="col-lg-6 order-lg-2">
                    <figcaption>
                        <img src="~/FrontEnd/images/image-layer-3.jpg" alt="">
                    </figcaption>
                </div>
                <div class="col-lg-6">
                    <div class="card-content">
                        <h2>Workflow</h2>
                        <p>The Workflow page is designed to give you and your team full visibility of what needs to be done. Easily assign responsibility for requests to your team so its clear what each team member needs to do</p>
                        <ul class="d-flex flex-column list-style-features">
                            <li><i class="bi bi-check2-circle"></i>Clearly identify what stage each job is at</li>
                            <li><i class="bi bi-check2-circle"></i>Assign responsibility to your team so everyone knows what to do</li>
                            <li><i class="bi bi-check2-circle"></i>Use divisions to keep your service sectors separated</li>
                        </ul>
                        <a href="" class="btn-primary">Experience the Workflow</a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <figcaption data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                        <img src="~/FrontEnd/images/schedule-img.jpg" alt="">
                    </figcaption>
                </div>
                <div class="col-lg-6">
                    <div class="card-content" data-aos="fade-left" data-aos-duration="1500" data-aos-once="true">
                        <h2>Schedule & Routing</h2>
                        <p>Scheduling has never been easier with our all in one scheduling page. Quickly identify what jobs need to be scheduled and routed.</p>
                        <ul class="d-flex flex-column list-style-features">
                            <li><i class="bi bi-check2-circle"></i>Integrated mapping allows quick visualization of each crews route</li>
                            <li><i class="bi bi-check2-circle"></i>Optimize your routing through simple drag and drop functionality</li>
                            <li><i class="bi bi-check2-circle"></i>Included drive time estimator to reduce windshield time.</li>
                        </ul>
                        <a href="" class="btn-primary">Experience Scheduling</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-quoting-invoicing bg-white sec-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <figcaption class="m-0" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
                        <img src="~/FrontEnd/images/image-layer-4.jpg" alt="">
                    </figcaption>
                </div>
                <div class="col-lg-6">
                    <div class="card-content" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                        <h2>Quoting & Invoicing</h2>
                        <p>Professional looking quotes and invoices allow you to stand out from the competition. Conveniently get customer approvals in person or online so you can get in, get out and get paid faster.</p>
                        <ul class="d-flex flex-column list-style-features">
                            <li><i class="bi bi-check2-circle"></i> Quickly generate quotes and invoices from any device</li>
                            <li><i class="bi bi-check2-circle"></i>Create packages for your most common products and services</li>
                            <li><i class="bi bi-check2-circle"></i>Get paid in person, online or automatically</li>
                        </ul>
                        <a href="" class="btn-primary">Experience Quoting</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-free-trail growing-business" style="background-image: url(./images/business-bg.jpg);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="content-innerbox text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                        <h2>start growing your business today!</h2>
                        <p>No Contracts, No Commitments, Pick your Plan Later!</p>
                        <a href="" class="btn-primary">Start Free Trail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-workflow-experience sec-gap bg-white">
        <div class="container">
            <div class="row align-items-center mb-4 mb-lg-5 pb-lg-5">
                <div class="col-lg-6 order-lg-2">
                    <figcaption data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
                        <img src="~/FrontEnd/images/image-layer-5.jpg" alt="">
                    </figcaption>
                </div>
                <div class="col-lg-6">
                    <div class="card-content" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                        <h2>Client Communications</h2>
                        <p>Great customer service starts with quick and efficient communication with your customers. That's where our built in conversations allow you to keep your communications documented and easily accessible for you and your customers.</p>
                        <ul class="d-flex flex-column list-style-features">
                            <li><i class="bi bi-check2-circle"></i>Keep conversations organized within each job</li>
                            <li><i class="bi bi-check2-circle"></i>Set clear expectation with your clients in writing so everyone knows what to expect</li>
                            <li><i class="bi bi-check2-circle"></i>Communicate with your clients in their preferred method using email/text.</li>
                        </ul>
                        <a href="" class="btn-primary">Experience Communications</a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mb-4 mb-lg-5 pb-lg-5">
                <div class="col-lg-6">
                    <figcaption data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                        <img src="~/FrontEnd/images/image-layer-6.jpg" alt="">
                    </figcaption>
                </div>
                <div class="col-lg-6">
                    <div class="card-content" data-aos="fade-left" data-aos-duration="1500" data-aos-once="true">
                        <h2>Timesheets</h2>
                        <p>Tracking your teams time doesn't have to be hard. Easily check time and efficiencies using the Time page within ProWorkflow.</p>
                        <ul class="d-flex flex-column list-style-features">
                            <li><i class="bi bi-check2-circle"></i>Crews and Staff can clock in/out each day for accurate time tracking</li>
                            <li><i class="bi bi-check2-circle"></i>Track both billable hours and total working hours</li>
                        </ul>
                        <a href="" class="btn-primary">Experience Scheduling</a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <figcaption data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
                        <img src="~/FrontEnd/images/accounting.jpg" alt="">
                    </figcaption>
                </div>
                <div class="col-lg-6">
                    <div class="card-content" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
                        <h2>Accounting</h2>
                        <p>Not only is getting paid is the best part of the job, It's critical to maintaining healthy cash flows for your business. The Accounting page gives you full visibility of the status of your invoices.</p>
                        <ul class="d-flex flex-column list-style-features">
                            <li><i class="bi bi-check2-circle"></i>Collect payment for multiple invoices at once</li>
                            <li><i class="bi bi-check2-circle"></i>Filter invoices to clearly see who still owes you money</li>
                            <li><i class="bi bi-check2-circle"></i>Sync'd with Quickbooks Online to always maintain current reporting</li>
                        </ul>
                        <a href="" class="btn-primary">Experience Accounting</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-experience-the-difference sec-gap">
        <div class="container">
            <div class="block-header text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <h2>Experience the Difference</h2>
            </div>
            <div class="row mb-4 mb-lg-5 pb-lg-5">
                <div class="col-md-4">
                    <div class="card-content" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                        <h2>Integrations</h2>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-content" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
                        <p>While ProWorkflow is designed to be a complete solution to simplify, manage and grow your business sometimes it helps to create partnerships. Integrations allow us to provide our clients with the best tools available to grow your business. Were constantly looking for strategic integrations to support our clients while also making sure ProWorkflow continues to be a complete solution for our clients.</p>
                        <ul class="d-flex flex-column list-style-features">
                            <li><i class="bi bi-check2-circle"></i>Real time QuickBooks Online Sync</li>
                            <li><i class="bi bi-check2-circle"></i>Payment Processing Integrations to collect payments Anytime, Anywhere</li>
                            <li><i class="bi bi-check2-circle"></i>Integrated client communications to provide next level customer service</li>
                        </ul>
                        <a href="" class="btn-primary">Experience Automations</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-content" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                        <h2>Automations</h2>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-content" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
                        <p>Automations allow you to stay engaged with your customers while your staying focused on what's important. Limit your busy work while getting more done. From automatic follow ups for quotes and invoices</p>
                        <ul class="d-flex flex-column list-style-features">
                            <li><i class="bi bi-check2-circle"></i>Automatically follow up with quotes and invoices to stay in front of your clients</li>
                            <li><i class="bi bi-check2-circle"></i>Create automated communications via email/text with your clients</li>
                            <li><i class="bi bi-check2-circle"></i>Create follow up funnels that combine both automated and manual communications</li>
                            <li><i class="bi bi-check2-circle"></i>Collect payments automatically when work is completed</li>
                        </ul>
                        <a href="" class="btn-primary">Experience Automations</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec-contact-us sec-gap">
        <div class="container">
            <div class="block-header text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="d-flex align-items-center justify-content-center block-title mb-2">
                    <div class="bullet-sm">
                        <hr>
                    </div>
                    <div class="px-2">
                        Contact Us
                    </div>
                    <div class="bullet-sm">
                        <hr>
                    </div>
                </div>
                <h2 class="mb-3">Need More Information?</h2>
                <p>Were always looking to connect with those in the service industry. If you have additional questions dont hesitate to contact us so we can get your questions answered.</p>
            </div>

            @using (Html.BeginForm("Contact", "Features"))
            {
                <div class="row">
                    <div class="col-lg-7">
                        <figcaption data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
                            <img src="~/FrontEnd/images/img-contact.jpg" alt="">
                        </figcaption>
                    </div>
                    <div class="col-lg-5">
                        <div class="card-contact h-100" data-aos="fade-left" data-aos-duration="1500" data-aos-once="true">
                            @if (Model.RobotFailed || Model.ContactSent)
                            {
                                <label id="Contact"></label>
                            }
                            @if (!Model.ContactSent)
                            {
                                @Html.HiddenFor(m => m.Total)
                                <h2 class="text-center">Contact Us</h2>
                                <div class="form-group input-single">
                                    <label>Full Name</label>
                                    @Html.EditorFor(m => m.SignupName, new { htmlattributes = new { @class = "form-control requiredfield", id = "SignupName", onkeyup = "checkForm();" } })
                                </div>
                                <div class="form-group input-single">
                                    <label>Email </label>
                                    @Html.EditorFor(m => m.SignupEmail, new { htmlattributes = new { @class = "form-control requiredfield", id = "SignupEmail", onkeyup = "checkForm();" } })
                                </div>
                                <div class="form-group input-single">
                                    <label>Phone</label>
                                    @Html.EditorFor(m => m.SignupPhone, new { htmlattributes = new { @class = "form-control", id = "SignupPhone", onkeyup = "formatphone('SignupPhone');checkForm();" } })
                                </div>
                                <div class="form-group input-single">
                                    <label>Company</label>
                                    @Html.EditorFor(m => m.Company.Name, new { htmlattributes = new { @class = "form-control requiredfield", id = "Company_Name", onkeyup = "checkForm();" } })
                                </div>
                                <div class="form-group input-single">
                                    <label>Message</label>
                                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control requiredfield", id = "Message", onkeyup = "checkForm();" })
                                </div>
                                <!-- reCAPTCHA widget -->
                                <div class="form-group" style="align-items:start">
                                    <div class="g-recaptcha" data-sitekey="@configuration["GoogleRecaptchaSettings:SiteKey"]" data-callback="onReCaptchaSuccess" data-expired-callback="onReCaptchaError"></div>
                                </div>
                                @*        <button id="sendRequest" class="btn-primary w-100" style="display:none;" type="button" onclick="NonAjax('Create')">Send Contact Request</button> *@
                                <button id="sendRequest" style="display:none;" class="btn-primary w-100" onclick="NonAjax('Create')">Send Contact Request</button>
                                @if (Model.RobotFailed)
                                {
                                    <label><b>You did not answer the question correctly.<br /> If you are human, please try again</b></label>
                                }
@*                                 <button class="btn-primary w-100" onclick="NonAjax('Create')">Send Contact Request</button>
 *@                            }
                            else
                            {
                                <div style="padding-top:100px">
                                    <h2 id="ContactSent" class="mb-3">Thank You!</h2>
                                    <p>We will get in touch with you as soon as possible!</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
 
    <div class="sec-faq sec-gap">
        <div class="container">
            <div class="block-header text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <h2>Frequently Asked Question</h2>
            </div>
            <div class="sec-accordion" id="accordionExample-2" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
                <div class="accordion-item">
                    <div class="accordion-header" id="headingOne1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne1" aria-expanded="false">
                            Is there a Free Trial?
                        </button>
                    </div>
                    <div id="collapseOne1" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample-2">
                        <div class="accordion-body">
                            <p>
                                YES! Everyone gets a 14 Day Free Trail.  Just select the plan you want and enter your billing information before your free trial ends to enjoy uninterrupted access.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingTwo2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo2" aria-expanded="false">
                            Are there any contracts?
                        </button>
                    </div>
                    <div id="collapseTwo2" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample-2">
                        <div class="accordion-body">
                            <p>
                                Never! ProWorkflow is a pay as you go service so you can cancel your subscription at any time.  You will keep access until the end of your billing cycle.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingThree3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree3" aria-expanded="false">
                            Can I change my Plan?
                        </button>
                    </div>
                    <div id="collapseThree3" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample-2">
                        <div class="accordion-body">
                            <p>
                                Yes, You can change you plan at anytime.  However, if you are downgrading your plan you will lose any features associated with the higher plan.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingFour4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour4" aria-expanded="false">
                            Does ProWorkflow Sync with QuickBooks?
                        </button>
                    </div>
                    <div id="collapseFour4" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample-2">
                        <div class="accordion-body">
                            <p>
                                Yes, ProWorkflow can sync wih your QuickBooks Online account.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingFive5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive5" aria-expanded="false">
                            Do you have an App?
                        </button>
                    </div>
                    <div id="collapseFive5" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample-2">
                        <div class="accordion-body">
                            <p>
                                Yes! Not only is ProWorkflow designed to me mobile responsive we have also created an App to better support users who primarily are working from mobile devices.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingSix6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix6" aria-expanded="false">
                            Will ProWorkflow work on my cell phone/tablet?
                        </button>
                    </div>
                    <div id="collapseSix6" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample-2">
                        <div class="accordion-body">
                            <p>
                                Even if you are not using the ProWorkflow app we have made sure ProWorkflow is fully functional with mobile responsive pages to make sure you can get work done no matter the device you are using.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    if (document.getElementById("Contact") != null) {
        window.location.hash = "Contact";
    }
  @*   ValidateForm(); *@
</script>
