@using Data
@using Web
@model Web.OfferVM

@Html.HiddenFor(m => m.AjaxUpdate)
@Html.HiddenFor(m => m.Param)
@Html.HiddenFor(m => m.Action)


<style>
    .cec-section label {
        font-weight: 500;
    }

    .cec-section .cec-block {
        margin-top: 1rem;
    }

    .cec-section .cec-row label {
        min-width: 30px;
    }

</style>
<div class="day-targeting container pt-3">
    <table>
        <tr>
            <td>Client</td>
            <td>
                @Html.DropDownListFor(x => x.SelectedClientId, Model.ClientDropdown, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>School</td>
            <td>
                @Html.DropDownListFor(x => x.SelectedSchoolId, Model.SchoolDropdown, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>Offer Type</td>
            <td>
                @Html.DropDownListFor(x => x.SelectedOfferType, Model.OfferTypeList, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>Data Lead URL</td>
            <td>
                @Html.EditorFor(x => x.Offer.Url, new { @class = "" })
            </td>
        </tr>
        <tr>
            <td>Warm Transfer Phone</td>
            <td>
                @Html.EditorFor(x => x.Offer.Transferphone, new { @class = "" })

            </td>
        </tr>
        <tr>
            <td>Lead Conduit Campaign ID</td>
            <td>
                @Html.EditorFor(x => x.Offer.Lccampaignid, new { @class = "" })

            </td>
        </tr>
        <tr>
            <td>OneSearch Delivery Profile</td>
            <td>
                @Html.DropDownListFor(x => x.SelectedDeliveryIdentifier, Model.DeliveryDropDownList, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>Revenue per lead (RPL)</td>
            <td>
                @Html.EditorFor(x => x.Offer.Rpl, new { @class = "" })

            </td>
        </tr>
        <tr>
            <td>Daily Cap</td>
            <td>
                @Html.EditorFor(x => x.Offer.Dcap, new { @class = "" })

            </td>
        </tr>
        <tr>
            <td>Weekly Cap (Sun-Sat)</td>
            <td>
                @Html.EditorFor(x => x.Offer.Wcap, new { @class = "" })
            </td>
        </tr>
        <tr>
            <td>Monthly Cap</td>
            <td>
                @Html.EditorFor(x => x.Offer.Mcap, new { @class = "" })

            </td>
        </tr>
        <tr>
            <td>Military Only</td>
            <td>
                <label> Military Only</label>
                @Html.CheckBoxFor(x => x.Offer.Militaryonly)

                <label>No Military</label>
                @Html.CheckBoxFor(x => x.Offer.Nomilitary)

            </td>
        </tr>
        <tr>
            <td>Active</td>
            <td>
                @Html.CheckBoxFor(x => x.Offer.Active)
            </td>
        </tr>
    </table>

    <div class="sectiontitle center">
        Time and Date Targeting
    </div>

    <div class="mt-3">
        <div class="row mb-3">
            <div class="col-md-3">
                <div class="form-check">
                    @Html.CheckBoxFor(x => x.Offer.Targeting.MondayActive, new { @class = "form-check-input", id = "mondayCheck" })
                    <label class="form-check-label" for="mondayCheck">Monday</label>
                </div>
            </div>
            <div class="col-md-4">
                <label class="me-2">Start Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.MondayStartHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.MondayStartMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
            <div class="col-md-5">
                <label class="me-2">End Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.MondayEndHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.MondayEndMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3">
                <div class="form-check">
                    @Html.CheckBoxFor(x => x.Offer.Targeting.TuesdayActive, new { @class = "form-check-input", id = "tuesdayCheck" })
                    <label class="form-check-label" for="tuesdayCheck">Tuesday</label>
                </div>
            </div>
            <div class="col-md-4">
                <label class="me-2">Start Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.TuesdayStartHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.TuesdayStartMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
            <div class="col-md-5">
                <label class="me-2">End Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.TuesdayEndHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.TuesdayEndMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3">
                <div class="form-check">
                    @Html.CheckBoxFor(x => x.Offer.Targeting.WednesdayActive, new { @class = "form-check-input", id = "wednesdayCheck" })
                    <label class="form-check-label" for="wednesdayCheck">Wednesday</label>
                </div>
            </div>
            <div class="col-md-4">
                <label class="me-2">Start Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.WednesdayStartHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.WednesdayStartMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
            <div class="col-md-5">
                <label class="me-2">End Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.WednesdayEndHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.WednesdayEndMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3">
                <div class="form-check">
                    @Html.CheckBoxFor(x => x.Offer.Targeting.ThursdayActive, new { @class = "form-check-input", id = "thursdayCheck" })
                    <label class="form-check-label" for="thursdayCheck">Thursday</label>
                </div>
            </div>
            <div class="col-md-4">
                <label class="me-2">Start Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.ThursdayStartHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.ThursdayStartMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
            <div class="col-md-5">
                <label class="me-2">End Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.ThursdayEndHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.ThursdayEndMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3">
                <div class="form-check">
                    @Html.CheckBoxFor(x => x.Offer.Targeting.FridayActive, new { @class = "form-check-input", id = "fridayCheck" })
                    <label class="form-check-label" for="fridayCheck">Friday</label>
                </div>
            </div>
            <div class="col-md-4">
                <label class="me-2">Start Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.FridayStartHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.FridayStartMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
            <div class="col-md-5">
                <label class="me-2">End Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.FridayEndHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.FridayEndMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3">
                <div class="form-check">
                    @Html.CheckBoxFor(x => x.Offer.Targeting.SaturdayActive, new { @class = "form-check-input", id = "saturdayCheck" })
                    <label class="form-check-label" for="saturdayCheck">Saturday</label>
                </div>
            </div>
            <div class="col-md-4">
                <label class="me-2">Start Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.SaturdayStartHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.SaturdayStartMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
            <div class="col-md-5">
                <label class="me-2">End Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.SaturdayEndHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.SaturdayEndMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3">
                <div class="form-check">
                    @Html.CheckBoxFor(x => x.Offer.Targeting.SundayActive, new { @class = "form-check-input", id = "sundayCheck" })
                    <label class="form-check-label" for="sundayCheck">Sunday</label>
                </div>
            </div>
            <div class="col-md-4">
                <label class="me-2">Start Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.SundayStartHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.SundayStartMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
            <div class="col-md-5">
                <label class="me-2">End Time:</label>
                @Html.EditorFor(x => x.Offer.Targeting.SundayEndHour, new { htmlAttributes = new { @class = "form-control d-inline-block me-1", style = "width:60px;" } }) :
                @Html.EditorFor(x => x.Offer.Targeting.SundayEndMinute, new { htmlAttributes = new { @class = "form-control d-inline-block", style = "width:60px;" } })
            </div>
        </div>
    </div>

    @if (Model.Offer.Id > 0)
    {
        <div class="pt-4" style="max-width:900px; ">
            <table class="">
                <tr>
                    <td>CEC Scores</td>
                    <td class="text-center">A</td>
                    <td class="text-center">B</td>
                    <td class="text-center">C</td>
                    <td class="text-center">D</td>
                    <td class="text-center">E</td>
                    <td class="text-center">F</td>
                    <td class="text-center">G</td>
                </tr>
                <tr>
                    <td class="text-end"></td>
                    <td class="text-center">@Html.CheckBoxFor(x => x.Offer.Targeting.CecIncludeA)</td>
                    <td class="text-center">@Html.CheckBoxFor(x => x.Offer.Targeting.CecIncludeB)</td>
                    <td class="text-center">@Html.CheckBoxFor(x => x.Offer.Targeting.CecIncludeC)</td>
                    <td class="text-center">@Html.CheckBoxFor(x => x.Offer.Targeting.CecIncludeD)</td>
                    <td class="text-center">@Html.CheckBoxFor(x => x.Offer.Targeting.CecIncludeE)</td>
                    <td class="text-center">@Html.CheckBoxFor(x => x.Offer.Targeting.CecIncludeF)</td>
                    <td class="text-center">@Html.CheckBoxFor(x => x.Offer.Targeting.CecIncludeG)</td>
                </tr>


                <tr class="pt-3">
                    <td class="text-end">CEC RPLs:</td>
                    <td>@Html.TextBoxFor(x => x.Offer.CecRplA, new { @class = "form-control", style = "width:70px;" })</td>
                    <td>@Html.TextBoxFor(x => x.Offer.CecRplB, new { @class = "form-control", style = "width:70px;" })</td>
                    <td>@Html.TextBoxFor(x => x.Offer.CecRplC, new { @class = "form-control", style = "width:70px;" })</td>
                    <td>@Html.TextBoxFor(x => x.Offer.CecRplD, new { @class = "form-control", style = "width:70px;" })</td>
                    <td>@Html.TextBoxFor(x => x.Offer.CecRplE, new { @class = "form-control", style = "width:70px;" })</td>
                    <td>@Html.TextBoxFor(x => x.Offer.CecRplF, new { @class = "form-control", style = "width:70px;" })</td>
                    <td>@Html.TextBoxFor(x => x.Offer.CecRplG, new { @class = "form-control", style = "width:70px;" })</td>
                </tr>

                <tr>
                    <td class="text-end">CEC Default CPLs:</td>
                    <td>@Html.TextBoxFor(x => x.Offer.Targeting.CecCplA, new { @class = "form-control", style = "width:70px;" })</td>
                    <td>@Html.TextBoxFor(x => x.Offer.Targeting.CecCplB, new { @class = "form-control", style = "width:70px;" })</td>
                    <td>@Html.TextBoxFor(x => x.Offer.Targeting.CecCplC, new { @class = "form-control", style = "width:70px;" })</td>
                    <td>@Html.TextBoxFor(x => x.Offer.Targeting.CecCplD, new { @class = "form-control", style = "width:70px;" })</td>
                    <td>@Html.TextBoxFor(x => x.Offer.Targeting.CecCplE, new { @class = "form-control", style = "width:70px;" })</td>
                    <td>@Html.TextBoxFor(x => x.Offer.Targeting.CecCplF, new { @class = "form-control", style = "width:70px;" })</td>
                    <td>@Html.TextBoxFor(x => x.Offer.Targeting.CecCplG, new { @class = "form-control", style = "width:70px;" })</td>
                </tr>
            </table>
            @if (Model.Offer.Allocations != null && Model.Offer.Allocations.Any())
            {
                <div class="tablestyle pt-4">
                    <table class="table table-bordered table-striped w-100">
                        <thead>
                            <tr>
                                <th>Source</th>
                                <th>Identifier</th>
                                <th class="text-center">Active</th>
                                <th class="text-center">Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var index = 0;
                                foreach (var allocation in Model.Offer.Allocations)
                                {
                                    var rowClass = index % 2 == 1 ? "altlistrow" : "";
                                    <tr class="@rowClass">
                                        <td>@allocation.Source?.Name</td>
                                        <td>@allocation.Identifier</td>
                                        <td class="text-center">@allocation.Active</td>
                                        <td class="text-center">
                                            <button class="buttonaslink" style="color:black !important;" onclick="NonAjaxWithParam('EditOffersAllocation',@Model.Offer.Id)">Edit</button>
                                        </td>
                                    </tr>
                                    ;
                                    index++;
                                }
                            }
                        </tbody>
                    </table>
                </div>

            }

        </div>
    }
</div>

