@using Data
@model Web.OfferVM

@Html.HiddenFor(m => m.AjaxUpdate)
@Html.HiddenFor(m => m.Param)
@Html.HiddenFor(m => m.Action)
@Html.HiddenFor(m => m.Offer.Id)
@Html.HiddenFor(m => m.Allocation.Offerid)

<div class="pagetitle">Edit Allocations</div>

<div class="form-1600">
    <div class="white-bg">
        <div class="input-form">
            <table class="form-table">
                <tr>
                    <td>Active:</td>
                    <td>@Html.CheckBoxFor(x => x.Allocation.Active)</td>
                </tr>
                <tr>
                    <td>Id:</td>
                    <td>@Model.Allocation.Id</td>
                </tr>
                <tr>
                    <td>Offer Id:</td>
                    <td>@Model.Allocation.Offerid</td>
                </tr>
                <tr>
                    <td>Source:</td>
                    <td>@Html.DropDownListFor(x => x.SelectedSourceId, Model.SourceDropdown, new { @class = "form-control w-100" })</td>
                </tr>
                <tr>
                    <td>Identifier:</td>
                    <td>@Html.TextBoxFor(x => x.Allocation.Identifier, new { @class = "form-control w-100" })</td>
                </tr>
                <tr>
                    <td>Warm Transfer Phone:</td>
                    <td>@Html.TextBoxFor(x => x.Allocation.Transferphone, new { @class = "form-control w-100" })</td>
                </tr>
                <tr>
                    <td>Cost per Lead (CPL):</td>
                    <td>@Html.TextBoxFor(x => x.Allocation.Cpl, new { @class = "form-control w-100" })</td>
                </tr>
                <tr>
                    
                    <td>Daily Cap:&nbsp; @Html.CheckBoxFor(x => x.Allocation.Dcap) </td>
                    <td >
                        @Html.TextBoxFor(x => x.Allocation.Dcapamt, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>Weekly Cap (Sun-Sat):&nbsp; @Html.CheckBoxFor(x => x.Allocation.Wcap)</td>
                    <td >
                       
                        @Html.TextBoxFor(x => x.Allocation.Wcapamt, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>Monthly Cap:&nbsp;  @Html.CheckBoxFor(x => x.Allocation.Mcap)</td>
                    <td >
                      
                        @Html.TextBoxFor(x => x.Allocation.Mcapamt, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>CEC Scores:</td>
                    <td colspan="7">
                        <div class="cec-inline-group d-flex space-between-sec">
                            <div><label>A</label> &nbsp;@Html.CheckBoxFor(x => x.Allocation.CecIncludeA)</div>
                            <div><label>B</label> &nbsp;@Html.CheckBoxFor(x => x.Allocation.CecIncludeB)</div>
                            <div><label>C</label> &nbsp;@Html.CheckBoxFor(x => x.Allocation.CecIncludeC)</div>
                            <div><label>D</label> &nbsp;@Html.CheckBoxFor(x => x.Allocation.CecIncludeD)</div>
                            <div><label>E</label> &nbsp;@Html.CheckBoxFor(x => x.Allocation.CecIncludeE)</div>
                            <div><label>F</label> &nbsp;@Html.CheckBoxFor(x => x.Allocation.CecIncludeF)</div>
                            <div><label>G</label> &nbsp;@Html.CheckBoxFor(x => x.Allocation.CecIncludeG)</div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>CEC CPL's</td>
                    <td colspan="7">
                        <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                            <div style="display: flex; align-items: center;">
                                <span style="margin-right: 5px;">A</span>
                                @Html.TextBoxFor(x => x.Allocation.CecCplA, new { @class = "cec-box" })
                            </div>
                            <div style="display: flex; align-items: center;">
                                <span style="margin-right: 5px;">B</span>
                                @Html.TextBoxFor(x => x.Allocation.CecCplB, new { @class = "cec-box" })
                            </div>
                            <div style="display: flex; align-items: center;">
                                <span style="margin-right: 5px;">C</span>
                                @Html.TextBoxFor(x => x.Allocation.CecCplC, new { @class = "cec-box" })
                            </div>
                            <div style="display: flex; align-items: center;">
                                <span style="margin-right: 5px;">D</span>
                                @Html.TextBoxFor(x => x.Allocation.CecCplD, new { @class = "cec-box" })
                            </div>
                            <div style="display: flex; align-items: center;">
                                <span style="margin-right: 5px;">E</span>
                                @Html.TextBoxFor(x => x.Allocation.CecCplE, new { @class = "cec-box" })
                            </div>
                            <div style="display: flex; align-items: center;">
                                <span style="margin-right: 5px;">F</span>
                                @Html.TextBoxFor(x => x.Allocation.CecCplF, new { @class = "cec-box" })
                            </div>
                            <div style="display: flex; align-items: center;">
                                <span style="margin-right: 5px;">G</span>
                                @Html.TextBoxFor(x => x.Allocation.CecCplG, new { @class = "cec-box" })
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="buttons">
                <button class="button" onclick="NonAjax('Update')">Update</button>
                <button class="button cancel" onclick="NonAjax('Go back')">Cancel</button>
            </div>
        </div>
    </div>
</div>

<style>

    .cec-box {
        width: 75px !important;
        text-align: center;
    }
</style>
