@model Web.CustomersViewModel


<div class="white-bg">
    <div class="sectionheader">Change Password</div>
    <div class="input-form">       
            @Html.HiddenFor(model => model.User.Id)
            <div>
                <table>
                    <tr>
                        <td>
                            <span class="formlabel">
                                UserName:
                            </span>
                            @Model.User.UserName
                            @Html.HiddenFor(m => m.User.UserName)
                        </td>
                    </tr>
                <tr>
                    <td>
                        <div class="formlabel">
                            Password:
                            <span id="Password_Invalid" class="required">*</span>
                        </div>
                        @Html.PasswordFor(m => m.Password, new { @class = "requiredpassword", onchange = "ValidateForm();" })
                        @if (Model.PasswordInvalid)
                        {
                            <br />
                            <span style="color:red"> <i>Invalid Password</i></span>
                        }
                        <div><i>6+ characters, 1+ letter, 1+ number</i></div>
                    </td>
                </tr>
                    <tr>
                        <td>
                            <div class="formlabel">
                                Repeat&nbsp;Password:
                                <span id="ConfirmPassword_Invalid" class="required">*</span>
                            </div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { htmlattributes = new { @class = "requiredconfirmpassword", onkeyup = "ValidateForm();" } })
                        </td>
                    </tr>
                </table>
            <div class="validation-message" id="PasswordsDoNotMatch">
                Password confirmation does not match
            </div>
            <div class="validation-message" id="Invalid" style="display:none">
                Fill in all required fields
            </div>
            </div>
            <div class="buttons">
            <button class="button" id="Valid" onclick="AjaxPartialUpdate('Change Password','Contacts')">Change Password</button>
            <button class="button-white" onclick="AjaxPartialUpdate('CancelContact','Contacts')">Cancel</button>
            </div>
        
    </div>
</div>


<script>
    ValidateForm();   
</script>

