@model CompanyIntegrationVM
@using Data
@using Web

@Html.HiddenFor(m => m.Action)
@Html.HiddenFor(m => m.RemoveId)
@Html.HiddenFor(m => m.AjaxUpdate)
@Html.HiddenFor(m => m.CompanyId)
@Html.HiddenFor(m => m.Company.Id)
<script>
        function toggleAccessSectionPhone() {
        var checkbox = document.getElementById("allStaffAccess");
        var section = document.getElementById("accessSectionPhone");
        section.style.display = checkbox.checked ? "none" : "table-row-group";
    }
        function toggleUserListPhone(event) {
        event.preventDefault(); // Prevent default button behavior
        var userListRow = document.getElementById('userListPhone');
        userListRow.style.display = userListRow.style.display === 'none' ? 'table-row' : 'none';
    }
</script>
<div class="white-bg">
    <div class="d-flex justify-content-between sectionheader mt-3">
        <span class="mt-1">Phone Number</span>
        <button class="button" style="margin: 0 !important" onclick="Ajax('Show Add Phone Number')">Connect to Phone Number</button>
    </div>
    @if (Model.EditPhoneNumber)
    {
        @Html.HiddenFor(m => m.CompanyPhoneNumber.Id)
            <div style="display:flex;justify-content:center;">
                <table>
                    <tr>
                        <td class="d-flex justify-content-center">
                            <div class="formlabel">
                                Name:
                            </div>
              
                                <div class="formvalue">
                                    @Html.TextBoxFor(m => m.CompanyPhoneNumber.Name)
                                </div>
                      
                        </td>
                    </tr>
                    <tr>
                        <td class="d-flex justify-content-center">
                            <div class="formlabel">
                                Phone Number :
                            </div>                    
                            <div class="formvalue">
                                    @Html.TextBoxFor(m => m.CompanyPhoneNumber.PhoneNumber)
                             </div>                    
                        </td>
                    </tr>
                <tr>
                    <td>
                        <div class="center">
                            @Html.CheckBoxFor(x => x.CompanyPhoneNumber.AllStaffAccess, new { id = "allStaffAccess", onchange = "toggleAccessSectionPhone()" }) Provide access to all staff
                        </div>
                    </td>
                </tr>
                    <tbody id="accessSectionPhone" style="@(Model.CompanyPhoneNumber.AllStaffAccess ? "display:none;" : "display:table-row-group;")">
                  
                        <tr>
                            <td>
                                Access :
                            </td>
                        </tr>

                    @if (Model.CompanyUserPhoneNumbers != null && Model.CompanyUserPhoneNumbers.Any())
                     {
                        foreach (var email in Model.CompanyUserPhoneNumbers)
                            {
                                <tr>
                                    <td>
                                        <span>
                                            @email.CompanyUser.User.FullName
                                        </span>
                                    <button id="" class="gridbutton" onclick="AjaxWithParam('Remove Access Phone',@email.Id)">Remove</button>
                                    </td>
                                </tr>

                            }
                        }
                        <tr id="userListPhone" style="display:none;">
                            <td>
                                @Html.DropDownListFor(x => x.CompanyUserId, Model.CompanyUserDDL, new { @class = "", onchange = "ClickButton('AddAccessPhone')" })
                                <button id="AddAccessPhone" style="display:none" class="gridbutton" onclick="Ajax('Add Access Phone')">Add User</button>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button id="addUserButton" class="gridbutton" onclick="toggleUserListPhone(event)">Add User</button>
                            </td>
                        </tr>
                    </tbody>                 
                        <tr>
                            <td>
                                <div>
                                    <div class="buttons">
                                        <button id="" class="button" onclick="AjaxWithParam('Update Phone Number',@Model.CompanyPhoneNumber.Id)">Update Phone Number</button>
                                        <button class="gridbutton" onclick="Ajax('Cancel Add other Account')">Cancel</button>
                                    </div>
                                 </div>
                            </td>
                        </tr>
                    
                </table>
            </div>
    }
   @if (Model.CompanyPhoneNumbers.Any())
    {
        <div>
            <table class="tablestyle border-bottom" style="width:100%">
                <tr class="desktop">
                    <th>
                        Name
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th style=""></th>

                    <th>
                        Access
                    </th>
                    <th style=""></th>
                </tr>

                @foreach (var CompanyPhoneNumber in Model.CompanyPhoneNumbers)
                {
                    <tr class="mobileportrait-mobilewide">
                        <td>
                           @*  @if (CompanyPhoneNumber.IsDefault)
                            {
                                <div style="font-size:15px;"><b>Default PhoneNumber</b></div>
                            } *@
                            <div>
                                <b class="secondary-text">Name:</b>@CompanyPhoneNumber.Name
                            </div>
                            <div>
                                <b class="secondary-text">PhoneNumber:</b>@CompanyPhoneNumber.PhoneNumber
                            </div>
                            <div>
                                <b class="secondary-text">Access : </b>
                                @if (CompanyPhoneNumber.AllStaffAccess)
                                {
                                    <span>All Staff </span>
                                }
                            </div>
@* 
                            <div class="buttons">
                                @if (!CompanyPhoneNumber.IsDefault)
                                {
                                    <button class="gridbutton" onclick="AjaxWithParam('Set Default PhoneNumber',@CompanyPhoneNumber.Id)">Set as Default</button>
                                    <button class="gridbutton" onclick="AjaxWithParamAndConfirmation('Remove Email Account ',@CompanyPhoneNumber.Id,'Are you sure you want to delete this email account')">Remove</button>
                                }
                            </div> *@
                            <div class="btn-group m-1">
                                <button type="button" class="gridbutton dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu dropdown-menu-left">
                                    @if (!CompanyPhoneNumber.IsDefault)
                                    {
                                        <button class="dropdown-item" onclick="AjaxWithParam('Set Default PhoneNumber',@CompanyPhoneNumber.Id)">Set as Default</button>
                                    }
                                    <button class="dropdown-item" onclick="NonAjaxWithParamAndConfirmation('Remove Phone Number',@CompanyPhoneNumber.Id,'Are you sure you want to delete this Phone Number')">Remove</button>
                                    <button class="dropdown-item" onclick="AjaxWithParam('Edit Phone Number',@CompanyPhoneNumber.Id)">Edit</button>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="desktop">
                        <td>@CompanyPhoneNumber.Name</td>
                        <td>@CompanyPhoneNumber.PhoneNumber</td>
                        <td></td>
                        <td>
                            @if (CompanyPhoneNumber.AllStaffAccess)
                            {
                                <span>All Staff </span>
                            }
                        </td>
                      @*   @if (CompanyPhoneNumber.IsDefault)
                        {
                            <td style="text-align: center;">
                                <b>  Default </b>
                                <button class="gridbutton ml-5 mr-1" onclick="NonAjaxWithParamAndConfirmation('Remove Phone Number',@CompanyPhoneNumber.Id,'Are you sure you want to delete this email account')">Remove</button>
                            </td>
                        }
                        else
                        {
                            <td style="text-align: center;">
                                <button class="gridbutton" onclick="NonAjaxWithParam('Set Default PhoneNumber',@CompanyPhoneNumber.Id)">Set as Default</button>
                                <button class="gridbutton" onclick="NonAjaxWithParamAndConfirmation('Remove Phone Number',@CompanyPhoneNumber.Id,'Are you sure you want to delete this email account')">Remove</button>
                            </td>
                        } *@
                        <td>
                            <div class="btn-group m-1">
                                <button type="button" class="gridbutton dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu dropdown-menu-left">
                                    @if (!CompanyPhoneNumber.IsDefault)
                                    {
                                        <button class="dropdown-item" onclick="AjaxWithParam('Set Default PhoneNumber',@CompanyPhoneNumber.Id)">Set as Default</button>
                                    }
                                    <button class="dropdown-item" onclick="AjaxWithParamAndConfirmation('Remove Phone Number',@CompanyPhoneNumber.Id,'Are you sure you want to delete this email account')">Remove</button>
                                    <button class="dropdown-item" onclick="AjaxWithParam('Edit Phone Number',@CompanyPhoneNumber.Id)">Edit</button>

                                </div>
                            </div>
                        </td>
                     </tr>                     
                }
            </table>
           
        </div>
    }
 
</div>

